header {
    width: 100%;
    height: 66vh;
    background-color: var(--Palette-One);
    z-index: 2;
    position: sticky;
    top: 0 !important;

    display: flex;
    justify-content: start;
    flex-flow: row wrap;

    top: 0;
    left: 0;
    width: 100%;
}

header .title {
    width: 55%;
    height: auto;
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
    align-items: center;
}

header .title h1 {
    color: snow;
    text-align: left;
    padding: 3rem;
}

header .title h1 b {
    font-size: 150px;
    font-weight: normal;
    color: var(--Palette-Fou);
    text-shadow: var(--Palette-Thi) 1px 1px 10px;
    text-align: start;
}

header .title h1 p {
    font-size: 50px;
    text-align: right;
    padding-right: 30px;
}

header .Subtitle {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    text-align: justify;
    width: 45%;
    height: auto;
}



header .Subtitle p {
    color: #eaf2f8;
    font-size: small;
    font-weight: 100;
    scrollbar-width: none;
    text-align: center;
    text-wrap: auto;
    width: 50%;
    height: auto;
    padding: 1rem;
    text-overflow: ellipsis;

}

header .Subtitle picture img {
    border-radius: 50%;
    width: 300px;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.little {
    width: 100%;
    height: auto;
    background-color: var(--Palette-One);
    position: sticky;
    top: 0 !important;

    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    animation: slideIn 0.5s ease-in-out forwards;

}

.little .title {
    width: 45%;
    height: auto;

}

.little .title h1 {
    color: snow;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0;
}

.little .title h1 b {
    font-size: 75px;
    font-weight: normal;
    color: var(--Palette-Fou);
    text-shadow: var(--Palette-Thi) 1px 1px 10px;
    text-align: start;
    margin: 0;
}

.little .title h1 p {
    font-size: 25px;
    margin: 0;
}

.little .Subtitle {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
}


.little .Subtitle p {
    display: none;
    visibility: hidden;
}

.little .Subtitle picture img {
    border-radius: 50%;
    width: 125px;
}

@media screen and (max-width: 960px) {
    header {
        height: auto;
        flex-flow: row wrap;
    }

    header .title {
        width: 100%;
    }

    header .Subtitle {
        width: 100%;
        height: auto;
        text-align: center;
    }

    header .Subtitle p {
        align-self: center;
        text-align: center;
        width: 600px;

    }

    @keyframes slideInMobile {
        from {
            transform: translateY(-50%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .little {
        height: auto;
        justify-content: space-around;
        animation: slideInMobile 0.5s ease-in-out forwards;
    }

    .little .title {
        width: 33%;
    }

    .little .title h1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        margin: 0;

    }

    .little .title h1 b {
        font-size: 45px;
        margin: 0;
    }

    .little .title h1 p {
        font-size: 25px;
        margin: 0;
    }

    .little .Subtitle {
        width: 33%;
    }

    .little .Subtitle picture img {
        border-radius: 50%;
        width: 100px;
    }
}


@media screen and (max-width: 412px) {
    header {
        height: 90vh;
        width: 100%;
        flex-flow: row wrap;
        align-content: space-evenly;
    }

    header .title {
        width: 100%;
    }

    header .title h1 {
        padding: 20px 0;
    }

    header .title h1 b {
        font-size: 50px;
    }

    header .title h1 p {
        font-size: 25px;
        text-align: end;
        padding: 0;
    }

    header .Subtitle {
        flex-flow: column wrap;
    }

    header .Subtitle p {
        font-size: smaller;
        font-weight: 40;
        width: 50%;
        height: auto;
        padding: 0.25rem;

    }

    header .Subtitle picture img {
        border-radius: 50%;
        width: 200px;
    }

    @keyframes slideInSmall {
        from {
            transform: translateY(-30%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .little {
        animation: slideInSmall 0.5s ease-in-out forwards;
        height: auto;
        justify-content: space-around;
    }

    .little .title {
        width: 33%;
        padding: 20px 0;
    }

    .little .title h1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        margin: 0;
    }

    .little .title h1 b {
        font-size: 30px;
        margin: 0;
    }

    .little .title h1 p {
        font-size: 20px;
        margin: 0;
    }

    .little .Subtitle {
        width: 33%;
    }

    .little .Subtitle picture img {
        border-radius: 50%;
        width: 100px;
    }
}