.SubTech {
	position: relative;
	width: 20rem;
	height: 3rem;
	box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
	border-radius: 22px;
	padding: 10px 2%;
	margin: 1rem 1.5rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}

.SubTech h3 {

	font-family: "Tiny5", sans-serif;
	font-size: 18px;
	position: absolute;
	top: -12px;
	left: 10px;
	padding: 0;
	margin: 0;
	font-size: 20px;
	color: #000;
	font-weight: lighter;
	color: var(--FontHightColor);
}

@media only screen and (max-width: 960px) {
	.SubTech {
		margin: 0;
		padding: 0;
	}
}