@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Delius&family=Modak&family=Tiny5&display=swap');

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modak-regular {
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
}

.delius-regular {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
}

.barrio-regular {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --BodyColor: #F5EFFF;
    --RootColor: #B9B4C71F;
    --SectionColor: #F5EFFF;

    --FontColor: #222831;
    --IconColor: #282A36;

    --Palette-One: #222831;
    --Palette-Sec: #31363F;
    --Palette-Thi: #76ABAE;
    --Palette-Fou: #EEEEEE;
}

.dark {
    --BodyColor: #352F44;
    --RootColor: #B9B4C71F;
    --SectionColor: #B9B4C72A;

    --FontColor: #FAF0E6;
    --IconColor: #FAF0E6;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--BodyColor);
    color: var(--FontColor);
    margin: 0;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;

    width: 100%;
    overflow: auto;
    background-color: var(--RootColor);
}

.main {
    width: auto;
    background-color: var(--SectionColor);
    flex: 1;
}