footer {
    width: 100%;
    background-color: var(--Palette-Fou);
    display: flex;
    justify-content: center;
}

footer h2 {
    font-weight: 200;
    font-style: normal;
    font-size: larger;
}